/**
 * Mambo Styles!
 * @author Sahib J. Leo
 */
.calendar_bar .day:first-child {
  border-left-width: 0px;
}

.calendar_bar .day {
  border: 0px solid #000;
  border-width: 0px 0px 1px 1px;
}

.calendar_bar .day:hover {
  background-color: #fc0;
}
